#drawCardPlayerButton {

}

#playerCardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

#drawCardsComputerButton{

}

#computerCardContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

#battleButton{

}

#resetButton{
    
}