@font-face {
    font-family: pokeFont;
    src: url('../font/PokemonSolidNormal-xyWR.ttf');
  }
  
  @font-face {
    font-family: pokeFont2;
    src: url('../font/PokemonHollowNormal-pyPZ.ttf');
  }
  
  @font-face {
    font-family: pokeFont3;
    src: url('../font/PocketMonk-15ze.ttf');
  }

.board {
    background-image: url('../img/trainer_battles_arena.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
}

#drawCardPlayerButton {
    background-color: #0075BE;
    color: #FFCC00;
    font-family: pokeFont3;
    font-size: 20px;
    border-radius: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px
}

.textPlayerAndComputer {
    font-family: pokeFont3;
    font-size: 30px;
    color: #0075BE;
}

#playerCardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#drawCardsComputerButton{
    background-color: #0075BE;
    color: #FFCC00;
    font-family: pokeFont3;
    font-size: 20px;
    border-radius: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

#computerCardContainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#battleButton{
    background-color: #0075BE;
    color: #FFCC00;
    font-family: pokeFont3;
    font-size: 20px;
    border-radius: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

.cardImage {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}